@import 'bootstrap';
@import 'font-awesome';

$primary: #183440;
$primary-highlight: #3C606E;
$primary-soft: desaturate(lighten($primary-highlight, 63%), 3%);

$background: desaturate(lighten($primary-highlight, 64%), 3%);

$border-color: desaturate(lighten($primary-highlight, 52%), 10%);
$border-color-soft: desaturate(lighten($primary-highlight, 55%), 10%);

$button-color: $primary;
$button-background: desaturate(lighten($primary-highlight, 60%), 15%);
$button-background-hover: lighten($button-background, 4%);
$button-border: $border-color;
$button-border-hover: $button-border;

$button-primary-background: $primary;
$button-primary-background-hover: lighten($button-primary-background, 10%);
$button-primary-border: $button-primary-background;
$button-primary-border-hover: $button-primary-background;

$button-cta-background: #36ab70;
$button-cta-background-hover: lighten($button-cta-background, 5%);
$button-cta-border: $button-cta-background;
$button-cta-border-hover: $button-cta-background-hover;

$text-softer: desaturate(lighten($primary-highlight, 35%), 15%);

$disabled-background: $primary-soft;
$disabled-color: $text-softer;

$highlight: $button-cta-background;

$header-height: 50px;
$footer-height: 40px;
$footer-border: 1px;

@import 'prettify';

*{
    outline: none !important;
}

html, body{
    height: 100%;
}

body {
    background-color: $background;
    font-family: 'Open Sans', 'Oswald', sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #3C606E;
    padding-top: $header-height;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
}

.navbar {
    background-color: $primary;
    box-shadow: 0px none;
    height: $header-height;
    line-height: $header-height;
    margin-bottom: 0px;

    a{
        border: 0px none;
    }

    .navbar-brand{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-right: 20px;
        font-family: 'Varela Round';
        line-height: $header-height;

        &.admin{
            margin-right: 50px;
        }

        img{
            width: $header-height - 24;
            height: $header-height - 24;
            margin-right: 5px;
            margin-top: -1px;
            display: inline-block;
        }

        h1{
            margin: 0px;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            line-height:  $header-height;
            font-weight: 100;
            text-transform: uppercase;
        }
    }

    ul.nav{
        li{
            a{
                padding: 0px 20px;
                height: $header-height;
                line-height: $header-height;
                color: #fff;
                border-bottom: 0px none;

                &:focus, &:hover{
                    color: #fff;
                    background-color: lighten($primary, 5%);
                }
            }

            &.active{
                a{
                    background-color: $primary-highlight;

                    &:focus, &:hover{
                        background-color: $primary-highlight;
                    }
                }
            }
        }
    }
}

#content{
    padding: 20px 30px;

    h1:first-child{
        margin-top: 0px;
    }
}

#sidebar{
    padding: 20px;

    ul{
        list-style-type: none;
        padding-left: 10px;
    }

    & > ul{
        margin: 0px;
        padding: 0px;

        & > li{
            margin-top: 15px;

            &:first-child{
                margin-top: 0px;
            }

            ul{
                margin-top: 5px;
            }
        }
    }

    li{
        color: $text-softer;
        text-transform: uppercase;
    }

    a{
        border-bottom: 0px none;
        text-transform: none;
    }
}

#sidebar-background{
    width: 16.666666666666664%;
    background: #fff;
    border-right: 1px solid $border-color;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    position: fixed;
}

.btn{
    background-color: $button-background;
    border: 1px solid $button-border;
    border-radius: 0px !important;
    color: $button-color;
    font-size: 13px;
    i{
        margin-right: 5px;
    }

    i.icon-only{
        margin-right: 0px;
    }

    &:focus, &:hover{
        background-color: $button-background-hover;
        border: 1px solid $button-border-hover;
    }

    &.btn-primary{
        background-color: $button-primary-background;
        border: 1px solid $button-primary-border;
        color: #fff;
        font-weight: bold;

        &:focus, &:hover{
            background-color: $button-primary-background-hover;
            border: 1px solid $button-primary-border-hover;
        }
    }
}

a{
    color: $primary;

    &:focus, &:hover{
        text-decoration: none;
        color: $highlight;
    }
}

.well{
    border: 1px solid $border-color-soft;
    background: #fff;
    box-shadow: none;
}

footer{
    height: $footer-height;
    width: 100%;
    background-color: #fff;
    color: $text-softer;
    border-top: $footer-border solid $border-color;
    line-height: $footer-height - $footer-border;
    font-size: 10px;
    position: relative;
}

.push{
    height: $footer-height;
    width: 100%;
}

.row{
    margin: 0px;
}

.anchor{
    display: block;
    position: relative;
    top: -($header-height);
    visibility: hidden;
}

.note{
    color: $text-softer;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 15px;
}

h3{
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
}

h4{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 15px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 13px;
}

a{
    border-bottom: 1px dotted $primary;
    color: $primary;
}

blockquote{
    background-color: $primary;
    color: #fff;
    border: 0px none;
    margin-top: 15px;

    p{
        font-size: 13px !important;
        line-height: 22px;

        i{
            margin-right: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
            float:left;
        }
    }
}

pre {
    border: 1px solid $border-color-soft !important;
}

@media(max-width:768px){

    body{
        padding-top: 0px;
    }

    .navbar {
        position: relative;
        height: auto;
        padding: 0px;

        .nav{
            margin: 0px;

            a{
                border-radius: 0px;
            }
        }
    }

    .wrapper{
        padding: ($header-height + 15px) 0px 0px 0px;
        margin-top: -$header-height - 1;
    }

}

.dropdown-menu {
    margin: 0px;
    padding: 0px;
    min-width: 50%;
    margin-top: -1px !important;
    border-radius: 0px !important;
    box-shadow: none !important;

    li{
        a{
            color: $primary !important;
            text-align: center;
            padding: 0px 5px !important;
            line-height: 40px !important;
            height: 40px !important;
            border-bottom: 1px solid $border-color-soft !important;

            &:hover, &:focus{
                color: #fff !important;
            }
        }

        &:last-child{
            a{
                border-bottom: 0px none !important;
            }
        }
    }
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: #1f4353 !important;
}